.c-list {
    display: flex;
    list-style: none; 
    padding: 1rem; 
    align-items: center;
    margin-top: 0 ;
    margin-bottom: 0;
    
&__item {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: pxToRem(25);
    line-height: pxToRem(25);
    margin-top: 0 ;
    margin-bottom: 0;
    padding: 0;
    
&.-Actif {
        font-size: pxToRem(50)
}}

}

.e-perso {
    &__separateur {

        border-top: solid 3px $colordarkgreen ;
    }

}

.c-Colorlist {
    display: flex; 
    padding: 1rem; 
    align-items: center;
    margin-top: 0 ;
    margin-bottom: 0;
    list-style: none;

    /*&__ColorActif{
        padding: 30px;
        height: pxToRem(70);
        width: pxToRem(70); 
        background-color: $colorshoesgreen;
          
        border-color: $colorshoesgreen ;
        border-radius: 100%;   
            
        }*/
    

&__item{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0 ;
    margin-bottom: 0;
    padding: 0;
    height: pxToRem(52);
    width: pxToRem(52);
    background-color: $colorshoesdarkred;
    border-radius: 100%;
    border: 1px solid transparent;


&.-shoesdarkred{
    background-color: $colorshoesdarkred;
}

&.-shoesyellow{
    background-color: $colorshoesyellow;
}

&.-shoesgreen{
    background-color: $colorshoesgreen;
}

&.-ColorActif{
    height: pxToRem(70);
    width: pxToRem(70);
    position: relative;
    
    
    &::after{
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        padding: 0px;
        margin: 0px;
        height: pxToRem(80);
        width: pxToRem(80);
        border-radius: 100%;
        border: 4px solid $colorshoesblue;
    
    }}

&.-shoesblue{
   background-color: $colorshoesblue; 
   
}

&.-shoesredpink{
    background-color: $colorshoesredpink;
}

&.-shoesblack{
    background-color: $colorshoesblack;
}

&.-shoesgrey{
    background-color: $colorshoesgrey;
}

&.-shoeswhite{
    background-color: $colorshoeswhite;
    border-color: grey;
}

}}