// Foundations
@import "Foundation/vars";

@import "Foundation/mixins";
@import "Foundation/functions.scss";

// Objects

@import "objects/grid";

// Elements

@import "_Perso_clist";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: calc($rootfontSize + 0.45vmin);
}

h2 {
  color: $colordarkgreen;
  font-family: $fontTitle;
  text-align: left;
  margin-left: 2em;
  margin-bottom: 0;
  font-size: pxToRem(35);

  @include title;

  @include small-up {
    font-size: pxToRem(24);
  }
}

p {
  color: $colordarkgreen;
  font-family: $fontTexte;
}

.e-fullbutton,
.whiteFilledBtn {
  border-radius: 28px;
  border-width: 4px;
  border-color: $colordarkgreen;
  border-style: solid;
  box-shadow: 1px 1px 5px 2px $colorshadow;
  transition: all ease-out 0.23s;
  padding: 10px;
  width: 220px;
  max-width: 80%;
  font-family: $fontTexte;
  font-weight: bold;
  font-size: 16px;

  &:hover {
    cursor: pointer;
    box-shadow: none;
  }
}

.whiteFilledBtn {
  color: $colordarkgreen;
  background-color: transparent;

  &:hover {
    cursor: pointer;
    background-color: $colordarkgreen;
    color: $colorwhite;
  }
}

.e-fullbutton {
  color: $colorwhite;
  background-color: $colordarkgreen;
}
