// Foundations
@import "Foundation/vars";

@import "Foundation/mixins";
@import "Foundation/functions.scss";

// Objects

@import "objects/grid";

// Elements

@import "_Perso_clist";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: calc($rootfontSize + 0.85vmin);
}

h2 {

    color: $colordarkgreen;
    font-family: $fontTitle;
    text-align: left;
    margin-left: 2em;
    margin-bottom: 0;

    @include title;

    @include small-up {
        font-size: pxToRem(12);
    }

    @include medium-up {
        font-size: pxToRem(35)
    }
}

p {
    color: $colordarkgreen;
    font-family: $fontTexte
}