$benjamin: yellow;

//Color Harmony
$colordarkpink:#E3967F;
$colordarkgreen: #0B6067;
$colorturqoise: #CEE8E0;
$colorbeige: #FBF2EF;
$colororange: #D66948;
$colorgrey: #F1EEEC;
$colorwhite: #fff;

//Shoes colors
$colorshoesdarkred : #9f2b28;
$colorshoesyellow : #D1CA32;
$colorshoesgreen : #0F800F;
$colorshoesblue : #353895;
$colorshoesredpink : #EB243F;
$colorshoesblack : #000000;
$colorshoesgrey : #B2B2B2;
$colorshoeswhite : #fff;

//Others colors
$colorshadow: rgba(0,0,0,0.2);

//texte
$fontTexte : "Roboto", arial, sans-serif;
$fontTitle: "Decoy", arial, sans-serif;
$rootfontSize : 16;